header {
    color:rgb(255, 255, 255);
    text-align: center;
}

body {
    background-color: rgb(59, 59, 59);
    font: normal 1.15em arial;
    padding: 0em;
    margin: 0em;
    display: grid;
    place-items: center;
}


.box {
    position: relative;
    width: 18.75rem;
    height: 25rem;
    border-radius: 1.25rem;
    display: grid;
    place-items: center;
    overflow: hidden;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.582);
}

.box::before {
    content: '';
    position: absolute;
    width: 31.25rem;
    height: 31.25rem;
    background-image: conic-gradient(transparent, transparent, transparent, rgb(0, 255, 234));
    animation: rotate 4s linear infinite;
}

.box::after {
    content: '';
    position: absolute;
    width: 31.25rem;
    height: 31.25rem;
    background-image: conic-gradient(transparent, transparent, transparent, rgb(0, 255, 85));
    animation: rotate 4s linear infinite;
    animation-delay: 2s;
}

.span{
    position: absolute;
    inset: 0.3125rem;
    border-radius: 1rem;
    background-color: rgb(40, 0, 104);
    z-index: 2;
}

.conteiner {
    position: absolute;
    background-color: rgb(0, 0, 0);
    inset: 0rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.res {
    position: absolute;
    bottom: 19.0625rem;
    height: 3.4375rem;
    width: 13.4375rem;
    display:flex;
    border-radius: 0.625rem;
    flex-direction: column;
    padding-left: 0.9375rem;
    justify-content: center;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.877);
    border: 0.3125rem inset rgb(74, 124, 153);
}

.button {
    width: 2.8125rem;
    height: 2.5rem;
    display: inline-block;
    font-size: 1.0625rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: #212221;
    border: none;
    border-radius: 0.9375rem;
    box-shadow: 0 0.3125rem #999;
}

.button:hover {background-color: rgb(48, 49, 48)}

.button:active {
    box-shadow: 0 0.125rem #666;
    transform: translateY(0.125rem);
}

.button#b1 {
    position: absolute;
    bottom: 15.625rem;
    left: 1.875rem;
    color: black;
    background-color: rgb(126, 126, 126);
    box-shadow: 0 0.3125rem rgb(36, 36, 36);
}

.button#b1:hover {
    background-color: rgb(206, 206, 206);
}

.button#b1:active {
    box-shadow: 0 0.125rem rgb(36, 36, 36);
    transform: translateY(0.125rem);
}

.button#b2 {
    position: absolute;
    bottom: 15.625rem;
    left: 5.75rem;
    background-color: rgb(70, 0, 70);
}

.button#b2:hover {
    background-color: rgb(150, 0, 150);
}

.button#b3 {
    position: absolute;
    bottom: 15.625rem;
    left: 9.625rem;
    background-color: rgb(134, 60, 72);
}

.button#b3:hover {
    background-color: rgb(161, 101, 111);
}

.button#b4 {
    position: absolute;
    bottom: 15.625rem;
    left: 13.5rem;
    background-color: rgb(150, 150, 0);
}
.button#b4:hover {
    background-color: rgb(230, 230, 0);
}
.button#b5 {
    position: absolute;
    bottom: 12.1875rem;
    left: 1.875rem;
}

.button#b6 {
    position: absolute;
    bottom: 12.1875rem;
    left: 5.75rem;
}

.button#b7 {
    position: absolute;
    bottom: 12.1875rem;
    left: 9.625rem;
}

.button#b8 {
    position: absolute;
    bottom: 12.1875rem;
    left: 13.5rem;
    background-color: rgb(0, 120, 0);
}

.button#b8:hover {
    background-color: rgb(0, 250, 0);
}

.button#b9 {
    position: absolute;
    bottom: 8.75rem;
    left: 1.875rem;
}

.button#b10 {
    position: absolute;
    bottom: 8.75rem;
    left: 5.75rem;
}

.button#b11 {
    position: absolute;
    bottom: 8.75rem;
    left: 9.625rem;
}

.button#b12 {
    position: absolute;
    bottom: 8.75rem;
    left: 13.5rem;
    background-color: rgb(0, 0, 120);
}

.button#b12:hover {
    background-color: rgb(0, 0, 250);
}

.button#b13 {
    position: absolute;
    bottom: 5.3125rem;
    left: 1.875rem;
}

.button#b14 {
    position: absolute;
    bottom: 5.3125rem;
    left: 5.75rem;
}

.button#b15 {
    position: absolute;
    bottom: 5.3125rem;
    left: 9.625rem;
}

.button#b16 {
    position: absolute;
    bottom: 5.3125rem;
    left: 13.5rem;
    background-color: rgb(120, 0, 0);
}

.button#b16:hover {
    background-color: rgb(250, 0, 0);
}

.button#b17 {
    position: absolute;
    bottom: 1.875rem;
    left: 1.875rem;
}

.button#b18 {
    position: absolute;
    bottom: 1.875rem;
    left: 5.75rem;
}

.button#b19 {
    position: absolute;
    bottom: 1.875rem;
    left: 9.625rem;
    background-color: #006142;
    width: 6.6875rem;
}
.button#b19:hover {
    background-color: #009767;
}


@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

footer{
    color: rgb(255, 255, 255);
    font-style: italic;
    text-align: center;
}