header {
    color:rgb(255, 255, 255);
    text-align: center;
}

body {
    background-color: rgb(59, 59, 59);
    font: normal 1.15em arial;
    padding: 0em;
    margin: 0em;
    display: grid;
    place-items: center;
}


.box {
    position: relative;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    display: grid;
    place-items: center;
    overflow: hidden;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.582);
}

.box::before {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent, transparent, transparent, rgb(0, 255, 234));
    animation: rotate 4s linear infinite;
}

.box::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent, transparent, transparent, rgb(0, 255, 85));
    animation: rotate 4s linear infinite;
    animation-delay: 2s;
}

.span{
    position: absolute;
    inset: 5px;
    border-radius: 16px;
    background-color: rgb(40, 0, 104);
    z-index: 2;
}

.conteiner {
    position: absolute;
    background-color: rgb(0, 0, 0);
    inset: 0px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.res {
    position: absolute;
    bottom: 305px;
    height: 55px;
    width: 215px;
    display:flex;
    border-radius: 10px;
    flex-direction: column;
    padding-left: 15px;
    justify-content: center;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.877);
    border: 5px inset rgb(74, 124, 153);
}

.button {
    width: 45px;
    height: 40px;
    display: inline-block;
    font-size: 17px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: #212221;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}

.button:hover {background-color: rgb(48, 49, 48)}

.button:active {
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

.button#b1 {
    position: absolute;
    bottom: 250px;
    left: 30px;
    color: black;
    background-color: rgb(126, 126, 126);
    box-shadow: 0 5px rgb(36, 36, 36);
}

.button#b1:hover {
    background-color: rgb(206, 206, 206);
}

.button#b1:active {
    box-shadow: 0 2px rgb(36, 36, 36);
    transform: translateY(2px);
}

.button#b2 {
    position: absolute;
    bottom: 250px;
    left: 92px;
    background-color: rgb(70, 0, 70);
}

.button#b2:hover {
    background-color: rgb(150, 0, 150);
}

.button#b3 {
    position: absolute;
    bottom: 250px;
    left: 154px;
    background-color: rgb(134, 60, 72);
}

.button#b3:hover {
    background-color: rgb(161, 101, 111);
}

.button#b4 {
    position: absolute;
    bottom: 250px;
    left: 216px;
    background-color: rgb(150, 150, 0);
}
.button#b4:hover {
    background-color: rgb(230, 230, 0);
}
.button#b5 {
    position: absolute;
    bottom: 195px;
    left: 30px;
}

.button#b6 {
    position: absolute;
    bottom: 195px;
    left: 92px;
}

.button#b7 {
    position: absolute;
    bottom: 195px;
    left: 154px;
}

.button#b8 {
    position: absolute;
    bottom: 195px;
    left: 216px;
    background-color: rgb(0, 120, 0);
}

.button#b8:hover {
    background-color: rgb(0, 250, 0);
}

.button#b9 {
    position: absolute;
    bottom: 140px;
    left: 30px;
}

.button#b10 {
    position: absolute;
    bottom: 140px;
    left: 92px;
}

.button#b11 {
    position: absolute;
    bottom: 140px;
    left: 154px;
}

.button#b12 {
    position: absolute;
    bottom: 140px;
    left: 216px;
    background-color: rgb(0, 0, 120);
}

.button#b12:hover {
    background-color: rgb(0, 0, 250);
}

.button#b13 {
    position: absolute;
    bottom: 85px;
    left: 30px;
}

.button#b14 {
    position: absolute;
    bottom: 85px;
    left: 92px;
}

.button#b15 {
    position: absolute;
    bottom: 85px;
    left: 154px;
}

.button#b16 {
    position: absolute;
    bottom: 85px;
    left: 216px;
    background-color: rgb(120, 0, 0);
}

.button#b16:hover {
    background-color: rgb(250, 0, 0);
}

.button#b17 {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.button#b18 {
    position: absolute;
    bottom: 30px;
    left: 92px;
}

.button#b19 {
    position: absolute;
    bottom: 30px;
    left: 154px;
    background-color: #006142;
    width: 107px;
}
.button#b19:hover {
    background-color: #009767;
}


@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

footer{
    color: rgb(255, 255, 255);
    font-style: italic;
    text-align: center;
}